In [31]:
import bs4
from urllib.request import urlopen as uReq
from bs4 import BeautifulSoup as soup
import requests

# general init function

In [34]:
# source can be changed dynamically so that all currencies can be called with the same script using a function or a lass
# start and end can also be adjusted dynamically for future scrapes
enddate = '20191002'
startdate = '20130428' # 10/28/2019
currencies = ['aidcoin', 'decred', 'ecobit', 'faircoin']
def scrape_hist(currency, startdate, enddate):
    source=requests.get(f"https://coinmarketcap.com/currencies/{currency}/historical-data/?start={startdate}&end={enddate}").text
    page_soup=soup(source,"lxml")
    scraped_page=page_soup.find_all("tr",{"class":"text-right"})
    return scraped_page

In [35]:
coins = {}
for i in currencies:
    coins.update( {i : scrape_hist(i, startdate, enddate)} )

In [38]:
coins.keys()

dict_keys(['aidcoin', 'decred', 'ecobit', 'faircoin'])

In [54]:
# for i in coins.keys():
#     print(coins[i][0].find_all("td"))

In [55]:
# needs to parse the varibles to remove commas

for i in coins.keys():
    filename= f"{i}.csv"
    f=open(filename,"w")
    headers="Date,Open,High,Low,Close,Volume,Market_Cap\n"
    f.write(headers)
    date = coins[i][0].td.text
    price_list = coins[i][0].find_all("td")
    price = price_list[1].text
    high = price_list[2].text
    low = price_list[3].text
    close = price_list[4].text
    volume = price_list[5].text
    market_cap = price_list[6].text
    row=date.replace(","," ")+","+price.replace(","," ") + ","+high.replace(","," ")+","+low.replace(","," ")+","+close.replace(","," ")+","+volume.replace(","," ")+","+market_cap.replace(","," ")+"\n" 
    f.write(row)
f.close()

In [25]:
import pandas as pd
df = pd.read_csv('firstscrape.csv')

In [26]:
df.head()

           Date   Open   High    Low  Close     Volume   Market_Cap
0  Oct 02  2019  17.46  17.65  17.04  17.26  7 517 874  180 781 776
1  Oct 01  2019  17.46  17.92  17.25  17.46  7 240 253  182 788 420
2  Sep 30  2019  17.67  17.72  16.36  17.45  8 593 531  182 607 653
3  Sep 29  2019  18.01  18.43  17.31  17.67  7 439 542  184 785 280
4  Sep 28  2019  17.57  18.09  17.48  18.02  7 732 269  188 332 327

In [30]:
df.describe()

              Open         High          Low        Close
count  1331.000000  1331.000000  1331.000000  1331.000000
mean     28.701319    30.264438    27.108433    28.717865
std      27.974969    29.594244    26.229161    27.961888
min       0.421673     0.459372     0.394796     0.422478
25%       2.050000     2.180000     1.935000     2.060000
50%      24.550000    25.640000    23.170000    24.470000
75%      38.575000    40.060000    36.870000    38.615000
max     122.400000   139.940000   116.940000   122.740000