In [2]:
import bs4
from urllib.request import urlopen as uReq
from bs4 import BeautifulSoup as soup
import requests
import datetime

# general init function

In [82]:
# source can be changed dynamically so that all currencies can be called with the same script using a function or a lass
# start and end can also be adjusted dynamically for future scrapes
current_time = datetime.datetime.now()
enddate = str(current_time.year) + str(current_time.month) + str(current_time.day)
startdate = '20130428' # 2013-04-28

currencies = ['aidcoin', 'decred', 'ecobit', 'faircoin']
def scrape_hist(currency, startdate, enddate):
    source=requests.get(f"https://coinmarketcap.com/currencies/{currency}/historical-data/?start={startdate}&end={enddate}").text
    page_soup=soup(source,"lxml")
    scraped_page=page_soup.find_all("tr",{"class":"text-right"})
    return scraped_page

In [35]:
coins = {}
for i in currencies:
    coins.update( {i : scrape_hist(i, startdate, enddate)} )

In [38]:
coins.keys()

dict_keys(['aidcoin', 'decred', 'ecobit', 'faircoin'])

In [68]:
len(coins['aidcoin'])

617

In [54]:
for i in coins['aidcoin'][0]:
    print(coins[i][0].find_all("td"))

In [69]:
# needs to parse the varibles to remove commas

for i in coins.keys():
    filename= f"{i}.csv"
    f=open(filename,"w")
    headers="Date,Open,High,Low,Close,Volume,Market_Cap\n"
    f.write(headers)
    for j in range(len(coins[i])):
        date = coins[i][j].td.text
        price_list = coins[i][j].find_all("td")
        price = price_list[1].text
        high = price_list[2].text
        low = price_list[3].text
        close = price_list[4].text
        volume = price_list[5].text
        market_cap = price_list[6].text
        row=date.replace(","," ")+","+price.replace(","," ") + ","+high.replace(","," ")+","+low.replace(","," ")+","+close.replace(","," ")+","+volume.replace(",","")+","+market_cap.replace(",","")+"\n" 
        f.write(row)
    f.close()

In [70]:
import pandas as pd
df = pd.read_csv('ecobit.csv')

In [71]:
df.head()

           Date      Open      High       Low     Close Volume Market_Cap
0  Oct 02  2019  0.003803  0.003803  0.003803  0.003803      -  1 690 337
1  Oct 01  2019  0.003730  0.003827  0.003699  0.003803      -  1 690 337
2  Sep 30  2019  0.003454  0.003738  0.003296  0.003730      5  1 657 680
3  Sep 29  2019  0.003454  0.003454  0.003454  0.003454      -  1 534 903
4  Sep 28  2019  0.003454  0.003454  0.003454  0.003454      -  1 534 903

In [72]:
df.describe()

             Open        High         Low       Close
count  816.000000  816.000000  816.000000  816.000000
mean     0.017414    0.019541    0.015770    0.017357
std      0.012377    0.015676    0.010269    0.012331
min      0.003162    0.003186    0.002631    0.003162
25%      0.010038    0.010857    0.009193    0.009996
50%      0.014957    0.016023    0.013820    0.014910
75%      0.020468    0.022404    0.018330    0.020469
max      0.127461    0.186572    0.097190    0.127294

In [37]:
current_time = datetime.datetime.now()
#     coins accepts a list
class Scrape_Coin(object):

    def __init__(self,
                coins = None,
                start_date = '20130428',
                end_date = str(current_time.year) + str(current_time.month) + str(current_time.day)):
        self.coins = coins
        self.start_date = start_date
        self.end_date = end_date
        
    def scrape_hist(self, coin):
        source=requests.get(f"https://coinmarketcap.com/currencies/{coin}/historical-data/?start={self.start_date}&end={self.end_date}").text
        page_soup=soup(source,"lxml")
        scraped_page=page_soup.find_all("tr",{"class":"text-right"})
        return scraped_page
    
    def compile_csv(self):
        coin_list = {}
        for i in self.coins:
            coin_list.update( {i : self.scrape_hist(i)} )

        for i in coin_list.keys():
            filename= f"{i}.csv"
            f=open(filename,"w")
            headers="Date,Open,High,Low,Close,Volume,Market_Cap\n"
            f.write(headers)
            for j in range(len(coin_list[i])):
                date = coins[i][j].td.text
                price_list = coins[i][j].find_all("td")
                price = price_list[1].text
                high = price_list[2].text
                low = price_list[3].text
                close = price_list[4].text
                volume = price_list[5].text
                market_cap = price_list[6].text
                row=date.replace(","," ")+","+price.replace(",","") + ","+high.replace(",","")+","+low.replace(",","")+","+close.replace(",","")+","+volume.replace(",","")+","+market_cap.replace(",","")+"\n" 
                f.write(row)
            f.close()

In [38]:
bitcoin = Scrape_Coin(coins=['bitcoin'])

In [39]:
bitcoin.compile_csv()

In [33]:
getattr(bitcoin, 'coins')

['bitcoin']