In [31]:
import bs4
from urllib.request import urlopen as uReq
from bs4 import BeautifulSoup as soup
import requests

# general init function

In [34]:
# source can be changed dynamically so that all currencies can be called with the same script using a function or a lass
# start and end can also be adjusted dynamically for future scrapes
enddate = '20191002'
startdate = '20130428' # 10/28/2019
currencies = ['aidcoin', 'decred', 'ecobit', 'faircoin']
def scrape_hist(currency, startdate, enddate):
    source=requests.get(f"https://coinmarketcap.com/currencies/{currency}/historical-data/?start={startdate}&end={enddate}").text
    page_soup=soup(source,"lxml")
    scraped_page=page_soup.find_all("tr",{"class":"text-right"})
    return scraped_page

In [35]:
coins = {}
for i in currencies:
    coins.update( {i : scrape_hist(i, startdate, enddate)} )

In [38]:
coins.keys()

dict_keys(['aidcoin', 'decred', 'ecobit', 'faircoin'])

In [64]:
len(coins['aidcoin'][0])

15

In [54]:
for i in coins['aidcoin'][0]:
    print(coins[i][0].find_all("td"))

In [55]:
# needs to parse the varibles to remove commas

for i in coins.keys():
    filename= f"{i}.csv"
    f=open(filename,"w")
    headers="Date,Open,High,Low,Close,Volume,Market_Cap\n"
    f.write(headers)
        for i in range(len(coins[i]))
        date = coins[i][0].td.text
        price_list = coins[i][0].find_all("td")
        price = price_list[1].text
        high = price_list[2].text
        low = price_list[3].text
        close = price_list[4].text
        volume = price_list[5].text
        market_cap = price_list[6].text
        row=date.replace(","," ")+","+price.replace(","," ") + ","+high.replace(","," ")+","+low.replace(","," ")+","+close.replace(","," ")+","+volume.replace(","," ")+","+market_cap.replace(","," ")+"\n" 
        f.write(row)
    f.close()

In [56]:
import pandas as pd
df = pd.read_csv('ecobit.csv')

In [57]:
df.head()

           Date      Open      High       Low     Close Volume Market_Cap
0  Oct 02  2019  0.003803  0.003803  0.003803  0.003803      -  1 690 337

In [58]:
df.describe()

           Open      High       Low     Close
count  1.000000  1.000000  1.000000  1.000000
mean   0.003803  0.003803  0.003803  0.003803
std         NaN       NaN       NaN       NaN
min    0.003803  0.003803  0.003803  0.003803
25%    0.003803  0.003803  0.003803  0.003803
50%    0.003803  0.003803  0.003803  0.003803
75%    0.003803  0.003803  0.003803  0.003803
max    0.003803  0.003803  0.003803  0.003803